!!!
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title
      Project metrics
    %script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    %script(src='http://code.highcharts.com/highcharts.js')
    %script(src='http://code.highcharts.com/highcharts-more.js')
    %script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    %script(type='text/javascript' src='chart.js')
    %link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet')

  %body
    .container-fluid
      .row
        .col-md-6
          %h2 Commit sizes
          #commit_sizes
        .col-md-6
          %h2 Total method complexity <small>Per git commit</small>
          #complexity_trend
